.home-hero {
    margin-bottom: 26px;
}

.home-hero .home-sub {
    margin-top: 14px;
    margin-left: -14px;
}

.home-sub .sub-l {
    width: 234px;
    margin-left: 14px;
}

.home-sub .sub-l .l-list {
    padding: 3px;
    text-align: center;
    background: #5f5750;
}

.home-sub .sub-l .l-list li {
    position: relative;
    float: left;
    width: 70px;
    height: 82px;
    padding: 0 3px;
}

.sub-l .l-list li::before,
.sub-l .l-list li::after {
    position: absolute;
    content: "";
    background: #665e57;
}

.sub-l .l-list li::before {
    top: -1px;
    left: 6px;
    width: 64px;
    height: 1px;
}

.sub-l .l-list li::after {
    top: 6px;
    left: 0;
    width: 1px;
    height: 70px;
}

.sub-l .l-list li>a {
    display: block;
    padding-top: 18px;
    color: #fff;
    opacity: .7;
    transition: opacity .2s;
}

.sub-l .l-list li img {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto 4px;
}

.sub-l .l-list li a:hover {
    opacity: 1;
}

.home-hero .sub-r {
    width: 978px;
    margin-left: 14px;
}

.home-hero .sub-r li {
    float: left;
    width: 316px;
    height: 170px;
    margin-left: 15px;
}

.home-hero .sub-r .first {
    margin-left: 0;
}

.home-hero .sub-r .r-list li a {
    display: block;
    height: 170px;
}

.sub-r .r-list li img {
    display: block;
    width: 316px;
    height: 170px;
}